@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

/* Fuente */
/* Estilos generales */
:root {
  --primary-color: #100d1a;
  --secundary-color: #28b2e3;
  --tertiary-color: #e737a2;
  --quartenary-color: #28b2e3;
}

/* Estilos de Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--primary-color);
  transition: 0.3s;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--secundary-color);
}

/* --- --- --- --- Logos de HTML, CSS y JavaScript --- --- --- --- */
body {
  position: relative;
}

#img1,
#img2,
#img3 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
}

#img1 {
  right: 130px;
}

#img2 {
  right: 70px;
}

#img3 {
  right: 10px;
}

/* --- --- --- --- Estilos del aside --- --- --- ---  */

.container-aside {
  position: fixed;
  top: 100px;
}

.container-aside h3 {
  color: var(--tertiary-color);
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

aside {
  position: fixed;
  height: 200px;
  width: 200px;
  overflow: auto;
  color: rgba(255, 255, 255, 0.3);
  font-size: 22px;
  transition: 0.3s;
}

aside:hover {
  color: white;
}

aside ul li {
  text-align: center;
  list-style-type: none;
}

aside ul {
  padding-left: 0px;
}

/* Estilos del checkbox */

input {
  position: relative;
  vertical-align: middle;
}

.checkbox {
  margin: 0;
  top: -1px;
  left: -10px;
}



/* --- --- --- --- Clases "show" y "hidden" --- --- --- --- */
.show {
  display: block;
}

.hidden {
  display: none;
}

body {
  background-color: var(--primary-color);
  color: white;
  font-family: "Source Code Pro", monospace;
}

h1 {
  color: var(--secundary-color);
  font-size: 50px;
}

/* --- --- --- --- Main --- --- --- --- */
main {
  margin: 0 200px 0 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 50px;
  text-align: center;
}

main h2 {
  color: var(--tertiary-color);
  font-size: 40px;
  font-style: italic;
}

main ol {
  font-size: 20px;
}

main ol li {
  margin: 13px 0;
}

strong {
  color: var(--tertiary-color);
  transition: 0.5s;
}

strong:hover {
  color: var(--secundary-color);
}

/* --- --- --- --- Estilos del desarrollo de las consigas --- --- --- --- */

.desarrollo .mono {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.desarrollo input {
  padding: 15px;
  font-size: 25px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  border: none;
  outline: none;
  transition: 0.1s;
}

.desarrollo input::placeholder {
  color: rgba(128, 128, 128, 0.397);
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.desarrollo input:focus-visible {
  outline: solid 3px var(--secundary-color);
}

button {
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(150deg, blue, purple);
  cursor: pointer;
  font-size: 1;
  transition: 0.1s;
}

button:active {
  transform: scale(0.9);
}

.desarrollo h2 {
  display: flex;
  justify-content: center;
}

.resoltado {
  font-size: 30px;
}

.desarrollo p {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* --- --- --- --- Estilos independientes para cada punto --- --- --- ---  */

#punto7resoltado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.punto7 .resoltado {
  display: block;
}
